* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.hero {
    height: 100vh;
    background-color: #37517E;
    width: 100%;
}

.hero .hero_content {
    width: 85%;
    height: 100%;
    background-color: #37517E;
    margin: 0 auto;
}

.hero .hero_content header {
    background-color: #37517E;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    color: #fff;
}

.hero .hero_content header .logo p {
    font-size: 200%;
    font-weight: 600;
}

.hero .hero_content header .nav {
    display: flex;
    justify-content: space-between;
}

.hero .hero_content header .nav a {
    text-decoration: none;
    color: #fff;
    padding: 0.6em;
    font-size: 90%;
}

.hero .hero_content header .nav button {
    background-color: #44A3D5;
    color: #fff;
    padding: 0.2rem 1.4rem;
    border-style: none;
    border-radius: 1.5rem;
}

.hero .hero_content .hero_body {
    margin: auto 0;
    height: 90%;
    display: flex; 
}

.hero .hero_content .hero_body .type {
    width: 50%;
    height: 100%;
    align-content: center;
}

.hero .hero_content .hero_body .type h1 {
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    color: #fff;
    padding: 0.5rem 0;
}

.hero .hero_content .hero_body .type p {
    color: #C3CBD9;
    font-size: 1.3rem;
}

.hero .hero_content .hero_body .type button {
    padding: 0.5rem;
    margin: 0.5rem;
    margin-left: 0;
}

.hero .hero_content .hero_body .type .start_button {
    background-color: #44A3D5;
    border-radius: 1.5rem;
    border-style: none;
    color: #fff;
    padding: 0.9rem 2rem;
    font-size: 100%;
}

.hero .hero_content .hero_body .type .watch_button{
    background-color: transparent;
    border-radius: 1.5rem;
    border-style: none;
    color: #fff;
    padding: 0.9rem 2rem 0.9rem 1rem;
    font-size: 100%;
}

.hero .hero_content .hero_body .image {
    width: 50%;
    height: 100%;
    align-content: center;
}

.hero .hero_content .hero_body .image img {
    width: 100%;
}

.section_head {
    text-align: center;
    margin: 2.5rem auto;
    font-size: 200%;
    color: #37517E;
    font-weight: 700;
}

.split_two {
    width: 85%;
    height: 100%;
    margin: 2rem auto;
    display: flex;
}

.split_two .half {
    width: 50%;
    height: 100%;
}

.split_two .half ul {
    list-style-type: none;
    margin: 1rem 0;
}

.split_two .half ul li i{
    color: #44A3D5;
}

.split_two .half .image img {
    width: 100%;
}

.split_four {
    width: 85%;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.split_four .quarter {
    width: 25%;
    height: 100%;
    background-color: aqua;
}
